<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="Mysql_Session1" connectionString="server=127.0.0.1;port=3306;user=root;password=123456;database=Session1;Character Set=utf8" />
    <add name="Mysql_Session2" connectionString="server=127.0.0.1;port=3306;user=root;password=123456;database=Session 2;Character Set=utf8" />
    <add name="sql" connectionString="server=127.0.0.1;port=3306;user=root;password=123456;database=Session1;Character Set=utf8" />
  </connectionStrings>
</configuration>